.grid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body{width: auto; background-image: linear-gradient(lightblue, white); margin:0;}
header { background-color: #869dc7;
        font-size: 150%;
        text-align: center;
        padding: 10px 5%;
        background-image: url(lighthouselogo.png);
        background-repeat: no-repeat;
        background-size: cover;
        color:white;
        position: -webkit-sticky; /* Safari */
        position:sticky;
        top:0%;
}
footer {font-size:70%;
         padding: 0;
         clear: both;
         background:pink;
         height:40%;
}
p{font: 15px Helvetica; padding:4px;}
h2{padding: 4px;}
nav ul { list-style-type: none;padding: 0;}
nav li{display:inline; margin:3px;}
a:link,a:visited{color:navy; text-decoration: none;}

#maincontent {padding:5%;}
#wrapper { background-color: white;
           color: #000066;
           width: 80%;
           margin: 0 auto;
           padding-top:2%;
}
#mainnav {margin: 0 5%;}
#mainnav a:hover{color:pink;}
#menu {
     width: auto;
     letter-spacing:0.1em;
     font-weight: bold;
     border: 2px solid lightblue;
     border-radius: 25px;
     text-align:center;
}
#image-place{margin-left: auto; margin-right: auto; padding: 0 5% 5% 5%;}
#bottomnav {text-align:center; width:50%; margin-left: auto; margin-right: auto;}


@media (min-width: 600px) {
  .grid {
             display: grid;
             grid-template-columns: 2fr 1fr;
             grid-template-rows: 60px 600px;
  }

  header {
          text-align: left;
          padding: 10px 10px 10px 155px;
          width:auto;
  }

  #mainnav {
      display: flex;
      justify-content: flex-end;
      padding: 0 3%;
      margin: 0;
      grid-column: 1/span 2;
      grid-row: 1;
  }

  #image-place{align-content: center; justify-content: center;padding: 10% 0;}
  #floatright { margin: 10px;float: right; }
  #bottomnav {width:30%;}
}
